<ngx-spinner name="contractSpinner">
</ngx-spinner>


<div class="r-contracts">
	<form class="kt-form kt-form--label-left" [formGroup]="contractForm">
		<div formArrayName="contractFormList"
			*ngFor="let contract of contractFormList.controls; let i=index; trackBy: trackByFn">
			<div [formGroupName]=i>
				<div class="form-group row d-flex justify-content-between">
					<div class="col-6 d-flex">
						<span class="h5 pr-2 mr-2">
							Hợp đồng {{i+1}}
							<span>
								<button type="button" class="btn btn-outline-hover-brand btn-elevate"><i
										class="la la-paperclip"></i> Tệp đính kèm </button>
							</span>
						</span>
					</div>
				</div>
				<!-- ================================================== -->
				<div class="form-group row">
					<div class="col-lg-4">
						<label>Số hợp đồng:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"><i
										class="la la-info-circle"></i></span></div>
							<input type="text" class="form-control" formControlName="contractNumber">
						</div>
					</div>
					<div class="col-lg-4">
						<label class="">Loại hợp đồng:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"><i
										class="la la-clone"></i></span></div>
							<input type="text" class="form-control" formControlName="contractType">
						</div>
					</div>
					<div class="col-lg-4">
						<label>Người đại diện:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"><i
										class="la la-user"></i></span></div>
							<input type="text" class="form-control" formControlName="representative">
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						<label class="">Ngày hiệu lực:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"><i
										class="la la-calendar-check-o"></i></span></div>
							<input type="text" class="form-control" formControlName="startDate">
						</div>
					</div>
					<div class="col-lg-4">
						<label>Thời hạn hợp đồng:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"><i
										class="la la-clock-o"></i></span></div>
							<input type="text" class="form-control" formControlName="contractLength">
						</div>
					</div>
					<div class="col-lg-2">
						<label>CMND:</label>
						<input type="email" class="form-control" formControlName="nationalIdentity">
					</div>
					<div class="col-lg-2">
						<label>Ngày cấp:</label>
						<input type="email" class="form-control" formControlName="nationalIdentityCreateDate">
					</div>
				</div>
				<div class="form-group row">
					<div class="col-lg-4">
						<label class="">Giá trị hợp đồng:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text">{{CONST_CUR}}</span></div>
							<input type="text" class="form-control" formControlName="contractValue">
						</div>
					</div>
					<div class="col-lg-4">
						<label>Số tiền thanh toán hằng tháng:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text"><i
										class="la la-calendar-o"></i></span></div>
							<input type="text" class="form-control" formControlName="monthlyPayment">
						</div>
					</div>
					<div class="col-lg-2">
						<label>Số tiền đã thanh toán:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text">{{CONST_CUR}}</span></div>
							<input type="email" class="form-control" formControlName="paid">
						</div>
					</div>
					<div class="col-lg-2">
						<label>Số tiền còn lại:</label>
						<div class="input-group">
							<div class="input-group-prepend"><span class="input-group-text">{{CONST_CUR}}</span></div>
							<input type="email" class="form-control" formControlName="remainingPayment">
						</div>
					</div>
				</div>
				<div class="form-group row ">
					<div class="col-12 d-flex justify-content-end mt-3">
						<button type="button"
							(click)="viewHistoryContract(contract);"
							[attr.aria-expanded]="!contract.isHCollapsed" class="btn btn-warning mr-3"><i
								class="la la-history"></i> Xem Lịch Sử</button>
						<button type="button"
							(click)="viewPaymentDetailContract(contract);"
							[attr.aria-expanded]="!contract.isPCollapsed" class="btn btn-info"><i
								class="la la-search-plus"></i>
							Xem Chi Tiết Thanh Toán</button>
					</div>
				</div>
				<div id="contractHistory{{i}}" [collapse]="!contract.isHCollapsed" [isAnimated]="true">
					<r-contract-history [contractModel]="contract"></r-contract-history>
				</div>
				<div id="contractPayment{{i}}" [collapse]="!contract.isPCollapsed" [isAnimated]="true">
					<r-contract-payment [contractModel]="contract"></r-contract-payment>
				</div>
				<div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit"></div>
			</div>
		</div>
	</form>
</div>
