<logixtek-data-table [config]="config">
</logixtek-data-table>

<ng-template #invStat>
	<div class="w-100 d-flex mb-3" *ngIf="inventoryStat$|async as stat">
		<div class="col-3">
			Tổng số lượng hàng hóa:
			<span class="ml-2 font-weight-bold">
				{{stat.totalItems |number}}
			</span>
		</div>
		<div class="col-4">
			Tổng giá giá vốn hàng hóa:
			<span class="ml-2 font-weight-bold">
				{{stat.totalPurchasingValue | number}}
				<span>
					{{CONST_UTILS.CURRENT_CURRENCY}}
				</span>
			</span>
		</div>
		<div class="col-4">
			Tổng giá trị bán hàng hóa:
			<span class="ml-2 font-weight-bold">
				{{stat.totalSellingValue | number }}
				<span>
					{{CONST_UTILS.CURRENT_CURRENCY}}
				</span>
			</span>
		</div>
	</div>
</ng-template>
