<ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.42)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="false" name="contractSpinner">
</ngx-spinner>


<div class="r-contract-payment">
	<form class="kt-form kt-form--label-left">
		<div class="form-group row d-flex justify-content-between">
			<div class="col-6 d-flex">
				<span class="h5 pr-2 mr-2">
					Chi tiết thanh toán
				</span>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-lg-4">
				<label class="">Giá trị hợp đồng:</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text">{{CONST_CUR}}</span></div>
					<input type="text" class="form-control" name="contractValue" [(ngModel)]="contract.contractValue" disabled>
				</div>
			</div>
			<div class="col-lg-4">
				<label>Số tiền thanh toán hằng tháng:</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar-o"></i></span></div>
					<input type="text" class="form-control" name="monthlyPayment" [(ngModel)]="contract.monthlyPayment" disabled>
				</div>
			</div>
			<div class="col-lg-2">
				<label>Số tiền đã thanh toán:</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text">{{CONST_CUR}}</span></div>
					<input type="email" class="form-control" name="paid" [(ngModel)]="contract.paid" disabled>
				</div>
			</div>
			<div class="col-lg-2">
				<label>Số tiền còn lại:</label>
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text">{{CONST_CUR}}</span></div>
					<input type="email" class="form-control" name="remainingPayment" [(ngModel)]="contract.remainingPayment" disabled>
				</div>
			</div>
		</div>
		<table class="table table-striped">
			<thead>
				<tr class="d-flex">
					<th class="col">Ngày thanh toán</th>
					<th class="col">Số tiền thanh toán </th>
					<th class="col">Phương thức thanh toán</th>
					<th class="col">Hóa đơn</th>
					<th class="col">Người nhập</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of paymentList" class="d-flex">
					<td class="col">{{item.paymentDate | date: 'dd/MM/yyyy'}}</td>
					<td class="col">{{item.paidAmt}}</td>
					<td class="col">{{item.paymentType}}</td>
					<td class="col"><button type="button" class="btn btn-outline-hover-brand btn-elevate"><i class="la la-paperclip"></i></button></td>
					<td class="col">{{item.author}}</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
