<div class="row">
	<div class="col-4">
		<div class="kt-portlet kt-portlet--bordered">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Portlet
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				Lorem Ipsum has been the industry's standard dummy text ever since the
				1500s, when an unknown printer took a galley of type and scrambled. Lorem
				Ipsum is simply dummy text of the printing and typesetting industry. Lorem
				Ipsum has been the industry's standard dummy text ever since the 1500s, when
				an unknown printer took a galley of type and scrambled.
			</div>
		</div>
	</div>
	<div class="col-8">
		<div class="kt-portlet kt-portlet--bordered">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Portlet
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				Lorem Ipsum has been the industry's standard dummy text ever since the
				1500s, when an unknown printer took a galley of type and scrambled. Lorem
				Ipsum is simply dummy text of the printing and typesetting industry. Lorem
				Ipsum has been the industry's standard dummy text ever since the 1500s, when
				an unknown printer took a galley of type and scrambled.
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<div class="kt-portlet kt-portlet--bordered">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Portlet
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				Lorem Ipsum has been the industry's standard dummy text ever since the
				1500s, when an unknown printer took a galley of type and scrambled. Lorem
				Ipsum is simply dummy text of the printing and typesetting industry. Lorem
				Ipsum has been the industry's standard dummy text ever since the 1500s, when
				an unknown printer took a galley of type and scrambled.
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="kt-portlet kt-portlet--bordered">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Portlet
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				Lorem Ipsum has been the industry's standard dummy text ever since the
				1500s, when an unknown printer took a galley of type and scrambled. Lorem
				Ipsum is simply dummy text of the printing and typesetting industry. Lorem
				Ipsum has been the industry's standard dummy text ever since the 1500s, when
				an unknown printer took a galley of type and scrambled.
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="kt-portlet kt-portlet--bordered">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Portlet
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
			</div>
		</div>

	</div>
</div>
