<div class="kt-portlet  kt-portlet--height-fluid ">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title flex-fill ml-3">
				Tin tức
			</h2>
		</div>
		<div class="kt-portlet__toolbar">
			<button class="btn btn-font-dark" (click)="closeDialog()">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="container">
			<div class="row">
				<h2>{{data.title}}</h2>
			</div>
			<div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit"></div>
			<div class="row">
				<h5 id="formatted">
					{{data.content}}
				</h5>
			</div>
		</div>
	</div>
</div>
