<div class="kt-portlet  kt-portlet--height-fluid ">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<h2 class="kt-portlet__head-title flex-fill ml-3">
				Thêm Sinh viên
			</h2>
		</div>
		<div class="kt-portlet__toolbar">
			<button class="btn btn-font-dark" (click)="closeDialog()">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>

	<div class="kt-portlet__body">
		<form class="kt-form kt-form--label-right" [formGroup]="studentForm">
			<div class="p-4 position-relative">
				<!-- ================================================== -->
				<div class="form-group row flex">
					<div class="col-lg-4">
						<div class="avatar-upload">
							<div class="avatar-edit">
								<input
									type="file"
									id="imageUpload"
									accept=".png, .jpg, .jpeg"
								/>
								<label for="imageUpload"></label>
							</div>
							<div class="avatar-preview">
								<div
									id="imagePreview"
									style="background-image: url(http://i.pravatar.cc/500?img=7);"
								></div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<label class="required-field">Họ tên:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="la la-user"></i></span>
							</div>
							<input type="text" class="form-control" formControlName="name" />
						</div>
						<label class="mt-5">Địa chỉ:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="la la-home"></i></span>
							</div>
							<input
								type="text"
								class="form-control"
								formControlName="address"
							/>
						</div>
					</div>

					<div class="col-lg-4">
						<label>Trạng thái:</label>
						<ng-select
							[items]="status"
							[selectOnTab]="true"
							bindValue="code"
							bindLabel="name"
							notFoundText="Không tìm thấy"
							formControlName="status"
						></ng-select>
						<!-- <option>1</option> -->
						<div class="row">
							<div class="col-lg-6 mt-5">
								<label class="required-field">Ngày sinh :</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"
											><i class="la la-calendar"></i
										></span>
									</div>
									<input
										type="text"
										class="form-control"
										formControlName="birthday"
										bsDatepicker
									/>
								</div>
							</div>
							<div class="col-lg-6 mt-5">
								<label class="required-field">Giới tính:</label>
								<div class="form-group">
									<ng-select
										[items]="genders"
										[selectOnTab]="true"
										bindValue="id"
										bindLabel="name"
										notFoundText="Không tìm thấy"
										formControlName="gender"
									>
									</ng-select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--	<div class="form-group row">
			 <div class="col-lg-4">
						<label class="required-field">Họ tên:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="la la-user"></i></span>
							</div>
							<input type="text" class="form-control" formControlName="name" />
						</div>
					</div> -->
				<!-- <div class="col-lg-2">
						<label class="required-field">Ngày sinh :</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"
									><i class="la la-calendar"></i
								></span>
							</div>
							<input
								type="text"
								class="form-control"
								formControlName="birthday"
								bsDatepicker
							/>
						</div>
					</div>
					<div class="col-lg-2">
						<label class="required-field">Giới tính:</label>
						<div class="form-group">
							<ng-select
								[items]="genders"
								[selectOnTab]="true"
								bindValue="id"
								bindLabel="name"
								notFoundText="Không tìm thấy"
								formControlName="gender"
							>
							</ng-select>
						</div>
					</div>
					 <div class="col-lg-4">
						<label>Địa chỉ:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="la la-home"></i></span>
							</div>
							<input
								type="text"
								class="form-control"
								formControlName="address"
							/>
						</div>
					</div>
				</div>-->
					<!-- ================================================== -->
					<div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit"></div>
					<!-- ================================================== -->	
				<div class="form-group row">
					<div class="col-lg-4">
						<label class="required-field">Số điện thoại:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"
									><i class="la la-phone"></i
								></span>
							</div>
							<input type="text" class="form-control" formControlName="phone" />
						</div>
					</div>
					<div class="col-lg-4">
						<label class="required-field">Số CMND:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="la la-info"></i></span>
							</div>
							<input
								type="text"
								class="form-control"
								formControlName="identification"
							/>
						</div>
					</div>
					<div class="col-lg-4">
						<label class="required-field">Email:</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="la la-at"></i></span>
							</div>
							<input
								type="email"
								class="form-control"
								formControlName="email"
							/>
						</div>
					</div>
				</div>

				<!-- ================================================== -->
				<div
					class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit"
				></div>
				<!-- ================================================== -->

				<div class="form-group row">
					<div class="col-lg-4">
						<label class="required-field">Tên tài khoản:</label>
						<input
							type="text"
							class="form-control"
							formControlName="username"
						/>
					</div>

					<div class="col-lg-4">
						<label>Mật khẩu:</label>
						<div class="input-group">
							<input class="form-control" formControlName="password" />
						</div>
					</div>
					<div class="col-lg-4">
						<label class="required-field">Lớp:</label>
						<div class="input-group">
							<input class="form-control" formControlName="course" />
						</div>
					</div>
				</div>
				<!-- ================================================== -->
				<div
					class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit"
				></div>
				<!-- ================================================== -->
				<div class="form-group row">
					<div class="col-lg-4">
						<label class="required-field">Ngày bắt đầu:</label>
						<div class="input-group">
							<input
								class="form-control"
								formControlName="start_date"
								bsDatepicker
							/>
							<!-- <option>1</option> -->
						</div>
					</div>
					<div class="col-lg-4">
						<label class="required-field">Major:</label>
						<div class="form-group">
							<ng-select
								[items]="majors"
								[selectOnTab]="true"
								bindValue="id"
								bindLabel="name"
								notFoundText="Không tìm thấy"
								formControlName="major"
							>
							</ng-select>
						</div>
					</div>
					<div class="col-lg-4">
						<label class="required-field">Chuyên nghành:</label>
						<div class="form-group">
							<ng-select
								[items]="specis"
								[selectOnTab]="true"
								bindValue="id"
								bindLabel="name"
								notFoundText="Không tìm thấy"
								formControlName="specialize"
							>
							</ng-select>
						</div>
					</div>
				</div>
				<!-- ================================================== -->
			</div>
		</form>
	</div>

	<div class="kt-portlet__foot">
		<div class="row align-items-center">
			<div class="col-lg-6 m--valign-middle"></div>
			<div class="col-lg-6 kt-align-right">
				<button type="submit" (click)="submit()" class="btn btn-primary">
					Submit
				</button>
			</div>
		</div>
	</div>
</div>
<ngx-spinner name="createProfileSpinner"> </ngx-spinner>
